.landing-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
  }
  
  .logo {
    width: 200px; /* Adjust the size as needed */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  